<template>
  <v-row>
    <v-col>
      <v-row>
        <v-subheader>Players:</v-subheader>
      </v-row>
      <v-row>
        <v-col>
          <v-text-field v-model="search" type="text"
                  label="Search">
                </v-text-field>
        </v-col>
      </v-row>
      <v-row>
        <v-expansion-panels popout>
          <player-info  v-for="player in filteredPlayers"
                :key="player.id"
                :player="player"
                />
        </v-expansion-panels>
      </v-row>
    </v-col>
  </v-row>
</template>

<script>

import PlayerInfo from '@/components/players/PlayerInfo.vue';

export default {
  name: 'PlayersList',
  components: {
    PlayerInfo,
  },
  props: {
    players: {
      type: Array,
      required: true,
    },
  },
  data: () => ({
    search: '',
  }),
  computed: {
    filteredPlayers() {
      return this.players.filter(
            player => player.name.toLowerCase().includes(this.search.toLowerCase()),
      );
    },
  },
};
</script>
