<template>
  <v-expansion-panel
    hide-actions
  >
    <v-expansion-panel-header>
      <v-row
        align="center"
        class="spacer"
        no-gutters
      >
        <v-col
          cols="4"
          sm="2"
          md="1"
        >
          <v-tooltip bottom>
          <template v-slot:activator="{ on }">
          <v-avatar
            size="36px"
            v-on="on"
          >
            <img
              v-if="player.flag_url"
              alt="Flag"
              :src="player.flag_url"
            >
          </v-avatar>
          </template>
          <span>{{player.nationality}}</span>
        </v-tooltip>
        </v-col>

        <v-col
          sm="7"
          md="5"
        >
          <strong v-html="player.name"></strong>
        </v-col>

        <v-col
          class="text-no-wrap"
          cols="5"
          sm="2"
        >
          <span v-html="player.position"></span>
        </v-col>

        <v-col
          class="grey--text text-truncate hidden-sm-and-down"
        >
          {{ player.age }}
        </v-col>
        <v-col
          class="grey--text text-truncate hidden-sm-and-down"
        >
          {{ player.value }}
        </v-col>
      </v-row>
    </v-expansion-panel-header>

    <v-expansion-panel-content>
      <v-divider></v-divider>
      <v-subheader>History</v-subheader>
      <v-card-text >
        <ul>
          <li v-for="(item,index) in player.history" :key="index">
          <v-row>
            <v-col>Team:
              <span v-if="teams && teams[item.team_id]">{{teams[item.team_id].name}}</span>
            </v-col>
            <v-col>Goals: {{item.goals}}</v-col>
            <v-col>Apps: {{item.apps}}</v-col>
          </v-row>
          </li>
        </ul>
      </v-card-text>
    </v-expansion-panel-content>
  </v-expansion-panel>
</template>
<script>

import { mapGetters } from 'vuex';

export default {
  name: 'PlayerInfo',
  props: {
    player: {
      type: Object,
      required: true,
    },
  },
  computed: {
    ...mapGetters('teams', ['teams']),
  },
};
</script>
