<template>
  <router-link
    :to="{ name: 'team-detail', params: { team_id: team.id } }"
  >
    <v-card
      class="mx-auto"
      width="300"
    >
      <v-img
        class="white--text align-end"
        height="200px"
        :src="team.logo_url"
      >
      </v-img>
      <v-card-title>{{team.name}} {{team.founded}}</v-card-title>

      <v-card-subtitle class="pb-0">{{team.city}}</v-card-subtitle>
    </v-card>
  </router-link>
</template>
<script>
export default {
  name: 'TeamCard',
  props: {
    team: {
      type: Object,
      required: true,
    },
  },
};
</script>
