<template>
  <div>
    <v-row>
      <v-subheader class="headline">Teams list</v-subheader>
    </v-row>
    <v-row >
      <v-col v-for="(value) in teams" :key="value.id">
        <team-card  :team="value"/>
      </v-col>
    </v-row>
  </div>
</template>

<script>

import { mapActions, mapGetters } from 'vuex';
import TeamCard from '@/components/teams/TeamCard.vue';

export default {
  name: 'TeamsPage',
  components: {
    TeamCard,
  },
  computed: {
    ...mapGetters('teams', ['teams']),
  },
  async created() {
    this.getTeams();
  },
  methods: {
    ...mapActions('teams', ['getTeams']),
  },
};
</script>
