<template>
  <div>
    <v-row>
      <v-subheader v-if="selectedTeam" class="headline">{{selectedTeam.name}}</v-subheader>
    </v-row>
    <players-list v-if="players" :players="players"/>
    <new-games-modal :is-open-dialog="isOpenDialog" @save="saveNewGame" @close="closeGameModal()"/>
    <games-list v-if="games" :games="games" @open-game-modal="openGameModal()"/>
  </div>
</template>

<script>

import { mapActions, mapGetters } from 'vuex';
import API from '@/services/api';

import PlayersList from '@/components/players/PlayersList.vue';
import GamesList from '@/components/games/GamesList.vue';
import NewGamesModal from '@/components/games/NewGamesModal.vue';

export default {
  name: 'TeamDetailPage',
  components: {
    PlayersList,
    GamesList,
    NewGamesModal,
  },
  data: () => ({
    players: null,
    games: null,
    isOpenDialog: false,
  }),
  computed: {
    ...mapGetters('teams', ['selectedTeam']),
    currentTeamId() {
      return this.$route.params.team_id;
    },
  },
  async created() {
    this.getTeams();
    this.updateSelectedTeamId(this.currentTeamId);
    this.players = await API.teams.getPlayers(this.currentTeamId);
    this.games = await API.teams.getGames(this.currentTeamId);
  },
  methods: {
    ...mapActions('teams', ['getTeams', 'updateSelectedTeamId']),
    openGameModal() {
      this.isOpenDialog = true;
    },
    closeGameModal() {
      this.isOpenDialog = false;
    },
    async saveNewGame(newGame) {
      const games = await API.teams.createGame(newGame);
      this.games.unshift(games[0]);
      this.closeGameModal();
    },
  },
};
</script>
