<template>
  <tr>
    <td>{{ formatDate(game.date) }}</td>
    <td>
      <span v-if="teams && teams[game.team_one_id]">{{teams[game.team_one_id].name}}</span> -
      <span v-if="teams && teams[game.team_two_id]">{{teams[game.team_two_id].name}}</span>
    </td>
    <td>{{ game.team_one_goals }} : {{game.team_two_goals}}</td>
  </tr>
</template>

<script>

import { mapGetters } from 'vuex';
import moment from 'moment';


export default {
  name: 'GamesListItem',
  components: {
  },
  props: {
    game: {
      type: Object,
      required: true,
    },
  },
  computed: {
    ...mapGetters('teams', ['teams']),
  },
  methods: {
    formatDate(date) {
      return moment(date).format('LLL');
    },
  },
};
</script>
