<template>
  <div>
    <v-row>
      <v-subheader>Games:</v-subheader>
    </v-row>
    <v-row>
      <v-col>
        <v-btn class="green" @click="$emit('open-game-modal')">Add game</v-btn>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <v-simple-table>
          <template v-slot:default>
            <thead>
              <tr>
                <th >Date</th>
                <th >Teams</th>
                <th >Score</th>
              </tr>
            </thead>
            <tbody>
              <games-list-item v-for="game in games" :key="game.id" :game="game"/>
            </tbody>
          </template>
        </v-simple-table>
      </v-col>
    </v-row>
  </div>
</template>

<script>

import GamesListItem from '@/components/games/GamesListItem.vue';

export default {
  name: 'GamesList',
  components: {
    GamesListItem,
  },
  props: {
    games: {
      type: Array,
      required: true,
    },
  },
};
</script>
