<template>
  <v-dialog v-model="isOpenDialog" persistent max-width="600px">
    <v-card>
      <v-card-title>
        <span class="headline">New game</span>
      </v-card-title>
      <v-card-text>
        <v-container>
          <v-row>
            <v-col cols="12" sm="6">
              <v-select
                :items="teamsArray"
                name="category"
                v-model="newGame.team_one_id"
                label="First team *"
                item-text="name"
                item-value="id"
                ></v-select>
            </v-col>
            <v-col cols="12" sm="6">
              <v-select
                :items="teamsArray"
                name="category"
                v-model="newGame.team_two_id"
                label="Second team *"
                item-text="name"
                item-value="id"
                ></v-select>
            </v-col>
            <v-col cols="12" sm="6">
              <v-text-field v-model="newGame.team_one_goals" type="number"
                label="First team goals">
              </v-text-field>
            </v-col>
            <v-col cols="12" sm="6">
              <v-text-field v-model="newGame.team_two_goals" type="number"
                label="Second team goals">
              </v-text-field>
            </v-col>
          </v-row>
        </v-container>
        <small>*indicates required field</small>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="blue darken-1" text @click="$emit('close')">Close</v-btn>
        <v-btn color="blue darken-1" text @click="$emit('save', newGame)">Save</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>

import { mapGetters } from 'vuex';

export default {
  name: 'NewGamesModal',
  components: {
  },
  data: () => ({
    dialog: true,
    newGame: {
      team_one_id: null,
      team_two_id: null,
      team_one_goals: 0,
      team_two_goals: 0,
      date: new Date(),
    },
  }),
  props: {
    isOpenDialog: {
      type: Boolean,
      default: true,
    },
  },
  computed: {
    ...mapGetters('teams', ['teams']),
    teamsArray() {
      if (!this.teams) return [];
      return Object.values(this.teams);
    },
  },
  methods: {

  },
};
</script>
