<template>
  <div id="app">
    <v-app>
      <div>
      <v-app-bar
        color="teal"
      >
         <v-toolbar-title>Alpha FX</v-toolbar-title>
      </v-app-bar>
      <v-container>
        <router-view/>
      </v-container>
      </div>
    </v-app>
  </div>
</template>

<style lang="scss">

</style>
